# dependencies
/node_modules
/.pnp
.pnp.js

# security
password.js
port.js
.env

# testing
/coverage

# next.js
/client/.next/
/client/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
